streamlit
azure-cognitiveservices-vision-computervision==0.9.1
msrest==0.7.1
google-cloud-texttospeech==2.21.1
pillow==11.0.0
exifread
pdfplumber
exifread
pdfplumber
python-docx
exifread
pdfplumber
python-docx
plotly
